# Tetapkan semua file teks agar disimpan sebagai LF di repo
* text=auto

# Secara eksplisit atur beberapa file penting agar menggunakan LF
*.py     text eol=lf
*.md     text eol=lf
*.txt    text eol=lf
*.ipynb  text eol=lf
*.html   text eol=lf

# Binary files (jangan ubah line ending)
*.png    binary
*.jpg    binary
*.jpeg   binary
*.h5     binary